name: Build and Push Docker Image
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  login:
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
            username: ${{secrets.DOCKER_USERNAME}}
            password: ${{secrets.DOCKER_PASSWORD}}
          registry: dhi.io

  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: build the docker image
        id: build-docker-image
        run: |
        ls -la 
        docker build . -f Dockerfile -t srameko/marp-presentation-builder:latest
        
    - name: push the docker image
        id: push-docker-image
        run: docker push ${{secrets.DOCKER_USERNAME}}/marp-presentation-builder:latest
